<div class="row clearfix">
	<% if task %>
	<% if task.completed? %>
			<div class="col s8 task">
					<p style="opacity: 0.4;"><strike><%= task.detail %></strike></p>
					<p style="opacity: 0.5;" class="time-created-at item-sub-title">Created <%= task.created_at %> ago</p>
			</div>
			<div class="col s1 complete">
				<%= link_to complete_list_task_path(@list, task.id), method: :patch do %>
					<i class="material-icons">spellcheck</i>
				<% end %>
			</div>
			<div class="col s1 trash">
				<%= link_to list_task_path(@list, task.id), method: :delete, data: { confirm: "Are you sure?" } do %>
					<i class="material-icons">delete</i>
				<% end %>
			</div>

	<% else %>
			<div class="col s8 task">
				<p style="opacity: 0.4;"><%= task.detail %></p>
				<p style="opacity: 0.5;" class="time-created-at item-sub-title">Created <%= task.created_at %> ago</p>
			</div>
			<div class="col s1 complete">
				<%= link_to complete_list_task_path(@list, task.id), method: :patch do %>
					<i class="material-icons">spellcheck</i>
				<% end %>
			</div>
			<div class="col s1 trash">
				<%= link_to list_task_path(@list, task.id), method: :delete, data: { confirm: "Are you sure?" } do %>
					<i class="material-icons">delete</i>
				<% end %>
			</div>
		<% end %>
		<% end %>
	</div>
