<%= form_for(@collaboration, @user) do |f| %>


<ul>
  <h2>Users</h2>
  <% @users.each do |user| %>
  <li>
    <%= f.label user.name %>
    <%= f.check_box :user %>
  </li>
  <% end %>
</ul>
<ul>
  <h2>Lists</h2>
  <% @lists.each do |list| %>
  <li>
    <%= f.label list.id %>
    <%= f.check_box :list %>
  </li>
  <% end %>
</ul>


<div class="actions">
  <%= f.submit %>
</div>
<% end %>
